.logpage {
	font-family: Annie Use Your Telescope, serif;
	font-size: 100%;
   	background-color: DarkSlateBlue;
   	color: DarkSlateBlue;
	margin: 100px;
   	padding: 50px;
}

.logpage a:link a:visited a:active {
	color: LightCyan;
	text-decoration: underline;
}

.logpage a:hover {
	color: White;
	text-decoration: underline;
}

.logpage hr {
	border: 3px solid Black;
}

.logpage table {
	width: 100%;
}

.logpage tr, td, th {
	padding: 15px;
	margin: 5px;
	vertical-align: top;
	border: 1px solid #999;
	background-color: #b794f7;
	text-align: left;
}

.logpage th {
	height: 5%;
	font-weight: normal;
	color: RebeccaPurple;
	background-color: Lavender;
}

.logpage h1 {
	font-size: 150%;
	text-align: center;
	padding: 8px;
}

.logpage h2 {
	font-size: 125%;
	text-align: center;
	color: #FFFFFF;
	background-color: Black;
	padding: 8px;
}

.logpage h3 {
	font-size: 110%;
	text-align: left;
	color: #000055;
	padding-bottom: 10px;
}

.imagefields
{
	text-align:center;
	display:block;
	margin-left: auto;
	margin-right: auto;
	background-color: Lavender;
	width: 95%;
}

.imagefields h3 {
	font-size: 110%;
	text-align: center;
	color: #000055;
	background-color: #b827ed;
	padding: 5px;
}

.imagefields img {
	max-width: 100%;
	height: auto;
}
.logpage button {
	background-color: Black; /* Green */
	border: none;
	color: #b872ed;
	margin-top: 10px;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}

#searchInput {
  width: 100%;
  font-size: 16px;
  padding: 12px;
  border: 1px solid Indigo;
  margin-bottom: 12px;
  margin-top: 12px;
}
